@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components {

  .background {
    @apply
    bg-white dark:bg-gray-700
  }

  .topic {
    @apply 
    font-semibold
    text-black dark:text-white
  }

  .text {
    @apply 
    text-black dark:text-white
  }
}


body {
 

  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}