@import url('google-fonts.css');

@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components {



    /* Text Colors */

    .text-accent {
        @apply
        text-black dark:text-white
    }

    .text-accent-reverse {
        @apply
        text-white dark:text-black
    }

    .text {
        @apply
        text-zinc-600 dark:text-zinc-400
    }



    /* Background Colors */

    .bg {
        @apply
        bg-white dark:bg-black
    }

    .bg-accent {
        @apply
        bg-zinc-100/90 dark:bg-zinc-800/90 backdrop-blur-[1.25px]
    }

    .bg-accent-2 {
        @apply
        bg-zinc-200/90 dark:bg-zinc-900/90 backdrop-blur-[1.25px]
    }

    .bg-reverse {
        @apply
        bg-black dark:bg-white
    }



    /* Utils */

    .focus-ring {
        @apply
        focus:outline-none focus-visible:ring-2 focus-visible:ring-opacity-75
        focus-visible:ring-black dark:focus-visible:ring-white
    }



    /* Button */

    .btn {
        @apply
        text-white font-medium
        active/edit:scale-95 active/edit:opacity-100 hover/edit:opacity-70 duration-150
        focus-ring
        rounded-xl text-sm px-4 py-2
        flex justify-center gap-1 items-center
    }

    .btn-xs {
        @apply
        rounded-full px-2 py-1 text-xs
    }

    .btn-sm {
        @apply
        rounded-xl px-4 py-2 text-xs
    }

    .btn-lg {
        @apply
        rounded-xl text-sm px-6 py-2.5
    }

    .btn-bordered {
        @apply
        border-2
        bg-transparent
    }



    /* Link */

    .link {
        @apply
        hover:opacity-70 rounded focus-ring underline
    }
}

#__next {
    @apply
    w-full
    h-full
    min-h-[100vh]
    bg-white dark:bg-black
}

.dela-gothi-one {
    font-family: 'Dela Gothic One', cursive;
}

body {
    padding: 0;
    margin: 0;
    overflow: overlay;
    font-family: 'Inter', sans-serif;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0);
}

::-webkit-scrollbar {
    width: 8px;
    background-color: rgba(0, 0, 0, 0);
}

::-webkit-scrollbar-thumb {
    @apply
    bg-zinc-400 dark:bg-zinc-700
    rounded-full
}


@keyframes toDark {
    0% {
        background-color: rgba(255, 255, 255);
    }
    100% {
        background-color: rgba(0, 0, 0);
    }
}


@keyframes toLight {
    0% {
        background-color: rgba(0, 0, 0);
    }
    100% {
        background-color: rgba(255, 255, 255);
    }
}