@import url('google-fonts.css');

@tailwind base;
@tailwind components;
@tailwind utilities;


@layer utilities {

    /* Text Colors */
    .text-accent {
        @apply
        text-accent-200 dark:text-accent-200-dark
    }

    .text-accent-reverse {
        @apply
        text-accent-100-dark dark:text-accent-100
    }

    .text {
        @apply
        text-accent-100 dark:text-accent-100-dark
    }

    .impress-text {
        @apply
        bg-base-0-dark dark:bg-base-0 text-base-0 dark:text-base-0-dark
    }

    /* Background Colors */
    .bg {
        @apply
        bg-base-0 dark:bg-base-0-dark
    }

    .bg-accent {
        @apply
        bg-base-100 dark:bg-base-100-dark
    }

    .bg-accent-2 {
        @apply
        bg-base-200 dark:bg-base-200-dark
    }

    .bg-reverse {
        @apply
        bg-base-0-dark dark:bg-base-0
    }

}

@layer components {

    /* Utils */
    .focus-ring {
        @apply
        outline-none
        focus:outline-none focus-visible:ring-2 focus-visible:ring-opacity-75
        focus-visible:ring-accent-200 dark:focus-visible:ring-accent-200-dark
    }


    /* Button */
    .btn {
        @apply
        text-white font-medium
        active/edit:scale-95 active/edit:opacity-100 hover/edit:opacity-70 duration-150
        focus-ring
        rounded-xl text-sm px-5 py-3
        flex justify-center gap-1 items-center
    }

    .btn-xs {
        @apply
        rounded-full px-4 py-2 text-xs
    }

    .btn-sm {
        @apply
        rounded-xl px-4 py-3 text-xs
    }

    .btn-lg {
        @apply
        rounded-2xl text-sm px-7 py-4
    }

    .btn-bordered {
        @apply
        border-2
        bg-transparent
    }


    /* Link */
    .link {
        @apply
        hover:opacity-70 rounded focus-ring underline
    }

    /* Range */
    .range {
        width: 400px;
        height: 10px;
        -webkit-appearance: none;
        background: #111;
        outline: none;
        border-radius: 15px;
        overflow: hidden;
        @apply
        bg-accent
    }
    .range::-webkit-slider-thumb {
        -webkit-appearance: none;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        cursor: pointer;
        @apply
        bg-primary shadow-slider shadow-primary
    }

    .range::-moz-range-thumb {
        -webkit-appearance: none;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        cursor: pointer;
        @apply
        bg-primary border-none shadow-slider shadow-primary
    }
}

@layer base {
    h1 {
        @apply text-2xl font-bold text-accent;
    }
    h2 {
        @apply text-xl font-bold text-accent;
    }
    h3 {
        @apply text-lg font-bold text-accent;
    }
}

#__next {
    @apply
    w-full
    h-full
    min-h-[100vh]
    bg
}

.dela-gothi-one {
    font-family: 'Dela Gothic One', cursive;
}

html {
    background: #000000;
}

body {
    padding: 0;
    margin: 0;
    overflow: overlay;
    font-family: 'Inter', sans-serif;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0);
}

::-webkit-scrollbar {
    width: 8px;
    background-color: rgba(0, 0, 0, 0);
}

::-webkit-scrollbar-thumb {
    @apply
    bg-zinc-400 dark:bg-zinc-700
    rounded-full
}


@keyframes toDark {
    0% {
        background-color: rgba(255, 255, 255);
    }
    100% {
        background-color: rgba(0, 0, 0);
    }
}


@keyframes toLight {
    0% {
        background-color: rgba(0, 0, 0);
    }
    100% {
        background-color: rgba(255, 255, 255);
    }
}